# RewriteEngine on
# RewriteCond %{HTTP_HOST} ^(www.)?https://roommore.online$ [NC]
# RewriteCond %{REQUEST_URI} !^/public/
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ /public/$1
# RewriteCond %{HTTP_HOST} ^(www.)?roommore.online$
# RewriteRule ^(/)?$ public/index.php [L]
RewriteEngine on
RewriteCond %{HTTP_HOST} ^roommore.online$ [NC,OR]
RewriteCond %{HTTP_HOST} ^roommore.online$
RewriteRule ^/?$ /public/ [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*) /public/$1 [L]
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/roomrbhd/testing"
PassengerBaseURI "/"
PassengerNodejs "/home/roomrbhd/nodevenv/testing/14/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/roomrbhd/testing1"
PassengerBaseURI "/"
PassengerNodejs "/home/roomrbhd/nodevenv/testing1/10/bin/node"
PassengerAppType node
PassengerStartupFile resources/js/app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END